services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: nextjs_app
    ports:
      - "3001:3001"
    environment:
      NODE_ENV: production
    volumes:      
      - /app/node_modules
    command: npm run start -- -H 0.0.0.0

